{% extends 'base.html' %}
{% load static %}

{% block content_profile %}

    <h1>{{ keyObj.username }}'s Profile Page</h1>
    {{ keyObj.profile.image.url }}

    <h1>
        Currently editing: {{ keyObj.username }}
    </h1>
    <hr>

    <div class="container-md bg-transparent">
        <div class="row g-0 m-2 justify-content-between">
            <div class="d-flex col-md-2 flex-shrink-2">
                <a href="{% url 'profile' %}" class="btn justify-content-start text-center">Back to Profile</a>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <form action='.' method="POST" enctype="multipart/form-data">{% csrf_token %}

        <div class="container-md bg-transparent">
            {% for field in keyFormUser %}
                {% if field.label == "Image" %}
                <div class="row g-0 m-2"> 
                    <div class="col-2">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% elif field.label == "Birth date" %}
                <div class="row g-0 m-2"> 
                    <div class="col-sm-4">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% else %}
                <div class="row g-0 m-2"> 
                    <div class="col-md-auto">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            
            {% for field in keyFormProfile %}
                {% if field.label == "Image" %}
                <div class="row g-0 m-2"> 
                    <div class="col-4">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                    <div class="col p-2" style="border-left: solid;">
                        {% if keyObj.modelprofile.image != None and keyObj.modelprofile.image != '' %}
                            <img src="{{ keyObj.modelprofile.image.url }}" class="img-fluid rounded-1" width="128" height="auto" alt="Image of {{ keyObj.username }}">
                        {% endif %}
                    </div>
                </div>
                {% elif field.label == "Birth date" %}
                <div class="row g-0 m-2"> 
                    <div class="col-sm-4">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% else %}
                <div class="row g-0 m-2"> 
                    <div class="col-md-auto">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="container-md bg-transparent">
            <div class="row g-0 m-2"> 
                <div class="col-md-4 ">
                    <a href="{% url 'profile' %}">
                        <input class="btn btn-success" type='submit' value='Save'/>
                    </a>
                </div>
            </div>
        </div>
    </form>


{% endblock content_profile %}