{% extends 'base.html' %}
{% load static %}

{% block content_profile %}

    <h1>{{ keyObj.username }}'s Profile Page</h1>
    <p>{{ keyObj.profile.image.url }}</p>

    <hr>

    <div class="container-md bg-transparent">
        <div class="row g-0 m-2 justify-content-between">
            <div class="d-flex col-md-2 flex-shrink-2">
                <a href="{% url 'home' %}" class="btn justify-content-start text-center">Back to Search</a>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container-md bg-transparent">
        <div class="row g-0 m-2 justify-content-between">
            <div class="d-flex col-md-2 flex-shrink-2">
                <div class="btn-group flex-fill">
                    <a href="{% url 'profileEdit' %}" class="btn justify-content-start text-center">Edit</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md">
        <div class="METTtable card m-2">
            <div class="row g-0">
                <div class="col-md-4 mw-34">
                    {% if keyObj.modelprofile.image != None and keyObj.modelprofile.image != '' %}
                        <img src="{{ keyObj.modelprofile.image.url }}" class="img-fluid rounded-1" height="auto" alt="Image of {{ keyObj.username }}">
                    {% else %}
                        <img src="{% static 'logoTT_sample2.png' %}" class="img-fluid rounded-1" height="auto" alt="Image of {{ keyObj.username }}">
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    {{ keyObj.username }}
                                </div>
                                <div class="col-3 p-1 text-center rounded-1">
                                    {{ keyObj.email }}
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush rounded-1">
                            <li class="list-group-item">
                                <p class="card-text">Firstname: {{ keyObj.first_name }}</p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">Lastname: {{keyObj.last_name}}</p>
                            </li>
                            <li class="list-group-item overflow-auto" style="max-height: 70%;">
                                <p class="card-text">Bio: {{keyObj.modelprofile.bio}}</p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">Birthday: {{keyObj.modelprofile.birth_date}}</p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">Date joined: {{keyObj.date_joined}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content_profile %}