{% extends 'base.html' %}
{% load static %}

{% block content_home %}
    <h1>Home</h1>
    {{ sessionInfo }}    

    {% block content_top_page %}
    {% endblock content_top_page %}
    
    <!-- Search Bar - Start -->
    <h4>Search Functionality</h4>

    <form>
        <div class="row g-3 d-flex justify-content-center align-items-center m-2">
            <div class="col-sm-8">
                <input class="form-control" type="text" name="qT">
            </div>
            <div class="col-sm-2">
                <button class="btn" type="submit">Search</button>
            </div>
        </div>
    </form>
    
    <!-- Search Bar - End -->

    <!-- Search Results - Start -->
    <h4> Search results: </h4>
    
    <div class="container-md text-center ">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center align-items-center">
                <div class="p-1 TT-container-results rounded-3">
                    Number of results: {{ results|length }}
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    

    <div class="container-md">
        {% if results %}
            {% for obj in results %}
                <a href="{% url 'productInfo' id=obj.id %}" class="METTtable card linkCard m-2">
                    <div class="row g-0">
                        <div class="col-md-4 mw-34">
                            {% if obj.image != None and obj.image != '' %}
                                <img src="{{ obj.image.url }}" class="img-fluid rounded-1" height="auto" alt="Image of {{ obj.name }}">
                            {% else %}
                                <img src="{% static 'logoTT_sample2.png' %}" class="img-fluid rounded-1" height="auto" alt="Image of {{ obj.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title">{{ obj.name }}</h5>
                                </div>
                                <div class="row overflow-auto" style="max-height: 70%;">
                                    <p class="card-text">{{ obj.description }}</p>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><small class="text">Price: {{ obj.price }}</small></p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text"><small class="text">No. of items in stock: {{ obj.current_stock }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    
    <!-- Search Results - End -->

{% endblock content_home %}