{% extends 'base.html' %}
{% load static %}

{% block content_productInfo %}
    <h1>
        Editing this Product entry: {{ keyObj.name }}
    </h1>

    {% if validationFlag != None %}
        <div id="validationFlag" class="card container-md" style='background-color: black; color: red;'>
            <div class="row m-2">
                <div class="col">
                    {{ validationFlag }}
                    {{ keyObj.name }}
                </div>
            </div>
        </div>
    {% endif %}

    <form action='.' method='POST' enctype="multipart/form-data"> {% csrf_token %}

        <div class="container-md">
            <!-- Iteratively render fields -->
            {% for field in keyForm %}
                {% if field.label == "Image" %}
                <div class="row m-2"> 
                    <div class="col-2">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% elif field.label == "Release date" %}
                <div class="row m-2"> 
                    <div class="col-sm-4">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% else %}
                <div class="row m-2"> 
                    <div class="col-md-auto">
                        <label>{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="container-md">
            <div class="row mb-3 m-2"> <!-- Attempts to execute a POST method to create new product entry in DB-->
                <div class="col-md-4 ">
                    <input class="btn btn-success" type='submit' value='Save'/>
                </div>
            </div>
        </div>
    </form>
{% endblock content_productInfo %}


