{% load static %}

<header class="sticky-top">
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container-fluid">

            <div class="d-md-none m-2"> <!--BS class - hide on md and wider screens-->
                <a class="navbar-brand" href="/">
                    <img src="{% static 'logoTT_9.webp' %}" alt="Treasure Trove" width="64" height="me-auto">
                </a>
            </div>

            <div class="d-none d-md-block m-2"> <!--BS class - hide on screens smaller than md-->
                <a class="navbar-brand" href="/">
                    <img src="{% static 'logoTT_9.webp' %}" alt="Treasure Trove" width="128" height="me-auto">
                </a>
            </div>

            <button class="navbar-toggler btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTT" aria-controls="navbarTT" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTT">
                <ul class="navbar-nav me-auto m-2 mb-md-1">
                    <li class="nav-item flex-fill">
                        <button class="btn">
                            <a class="nav-link" href="/test">Test Page</a>
                        </button>
                    </li>
                    <li class="nav-item flex-fill">
                        <button class="btn">
                            <a class="nav-link" href="/cart">Cart</a> <!-- Add item counter blip to this button.-->
                        </button>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>