{% extends 'base.html' %}

{% block content_test %}
    <h1>Test HTML page.</h1>
    <p>Hi.</p>
    {{ dingus }}
    <div class="container-sm" style="background-color: brown;">100% wide until small breakpoint</div>
    <div class="container-md" style="background-color: brown;">100% wide until medium breakpoint</div>
    <div class="container-lg" style="background-color: brown;">100% wide until large breakpoint</div>
    <div class="container-xl" style="background-color: brown;">100% wide until extra large breakpoint</div>
    <div class="container-xxl" style="background-color: brown;">100% wide until extra extra large breakpoint</div>
{% endblock content_test %}