/* 
color pallete reference:
#004580 blue
#7fc4e1 skyblue
#E33636 burgundy red
#E58F2B sandy ochra yellow

#4b2a54 dark mode purple
#ffe600 canary yellow
#B4309F lighter purple
#651D77 purple
*/

/* Carousel css and card css*/

.carousel-inner {
    max-width: 300px; /* Adjust the width as needed */
    margin: auto; /* This centers the carousel if the container is bigger */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    color: #E58F2B;
}

.card {
    box-shadow: 0 0 15px #651D77; /* Adds a subtle shadow to cards */
}

.card-title {
    color: #E58F2B;
}

/* Overall Project */

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #7fc4e1;
    z-index: -1;
    display: flex;  /*we set this property to"flex" and the one below to "column", 
                    to allow the body's contents to be contained and flexibly manipulated according to the shape
                    and size of the browser window.
                    "https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
                    "https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14" */

    flex-direction: column; /*Lets us decide the direction, or rather axis on which items get rearranged/moved towards. */
}

footer {            
    position: relative;
    width:100%;
    height:auto;    
    background-color: #004580;
    z-index: 2;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:#E58F2B;
    margin: 3;
    padding: 3;
}

h4 {
    font-weight: bold;
    text-align: center;
    background-color: #004580;
    color:#E33636;
    margin: 3;
    padding: 3;
}

.table {
    border-color: #004580;
    border: 4px #E33636;
}

.navbar {
    background-color: #004580;
    z-index: 2;
}

.navbar-toggler{
    background-color: #E33636;
    color:#004580;
}

.nav-link {
    color: #004580;
}

.navbar-nav .nav-item {
    border-radius: 5px;
    background-color: #E33636;
    margin: auto 20px auto 20px;
}

.navbar-nav .btn .nav-link {
    border-width: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: large;
    color: #004580;
}

.btn {
    background-color: #E33636;
    color: #004580;
}

.btn .nav-link:hover {
    color: #ffffff !important;
}

.TT-container-results {
    background-color: #E33636;
    color: #2ea376;
}

.METTtable {
    background-color: #E58F2B;
}

.METTtable-col {
    background-color: #E33636;
    color: #004580; 
}